@page
@model VisitorLog.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Visit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Visit.Id" />
            <div class="form-group">
                <label asp-for="Visit.VisitDt" class="control-label"></label>
                <input asp-for="Visit.VisitDt" class="form-control" />
                <span asp-validation-for="Visit.VisitDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.Location" class="control-label"></label>
                <input asp-for="Visit.Location" class="form-control" />
                <span asp-validation-for="Visit.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.AttendeeName" class="control-label"></label>
                <input asp-for="Visit.AttendeeName" class="form-control" />
                <span asp-validation-for="Visit.AttendeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.AttendeeGroup" class="control-label"></label>
                <input asp-for="Visit.AttendeeGroup" class="form-control" />
                <span asp-validation-for="Visit.AttendeeGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.HelperName" class="control-label"></label>
                <input asp-for="Visit.HelperName" class="form-control" />
                <span asp-validation-for="Visit.HelperName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.HelperGroup" class="control-label"></label>
                <input asp-for="Visit.HelperGroup" class="form-control" />
                <span asp-validation-for="Visit.HelperGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.Task" class="control-label"></label>
                <input asp-for="Visit.Task" class="form-control" />
                <span asp-validation-for="Visit.Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.Resolution" class="control-label"></label>
                <input asp-for="Visit.Resolution" class="form-control" />
                <span asp-validation-for="Visit.Resolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.Tags" class="control-label"></label>
                <input asp-for="Visit.Tags" class="form-control" />
                <span asp-validation-for="Visit.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
